@use '../utils/mixins' as mixins;

.container {
  // @include mixins.content-padding-inline;
  padding-inline: 20px;

  @include mixins.on-tablet {
    padding-inline: 72px;
  }

  @include mixins.on-desktop {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}
