@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

.contacts {
  &__wrapper {
    @include mixins.page-grid;

    row-gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include mixins.on-desktop {
      grid-column: 1 / 6;
    }

    &-button {
      @include mixins.form-reset;
      @include mixins.button-states;

      height: vars.$space-xxl; // 56px
      padding-inline: 48px;
      font-family: vars.$font-primary; // 'Space Grotesk', sans-serif
      font-weight: 700;
      margin-top: 8px;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include mixins.on-desktop {
      grid-column: 7 / -1;
    }

    display: flex;
    flex-direction: column;
    gap: vars.$space-lg; // 24px

    &-label {
      display: block;
      font-family: vars.$font-primary; // 'Space Grotesk', sans-serif
      font-weight: 400;
      font-size: 14px;
      line-height: vars.$line-height-plus; // 140%
      letter-spacing: 0;
      color: #9393a3;
      margin-bottom: vars.$space-sm; // 8px
    }

    &-value {
      margin: 0;
      font-family: vars.$font-secondary; // 'Space Mono', monospace
      font-weight: 400;
      font-size: vars.$font-size-base; // 16px
      line-height: vars.$line-height-plus; // 140%
      letter-spacing: 0;
      color: #191919;
      text-decoration: none;

      @include mixins.hover(color, #7e7e83);
    }
  }

  &__input {
    @include mixins.form-reset;
    @include mixins.form-field;

    border-radius: vars.$radius-md; // 8px
    height: 48px;
    padding-inline: vars.$space-md; // 16px
    margin-bottom: vars.$space-md; // 16px
    font-size: vars.$font-size-base; // 16px
  }

  &__textarea {
    @include mixins.form-reset;
    @include mixins.form-field;

    border-radius: vars.$radius-md; // 8px
    min-height: 148px;
    padding: vars.$space-md; // 16px
    resize: none;
    margin-bottom: 32px;
  }
}
