@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

/* #region header */
.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: vars.$font-size-xl; // 36px
    line-height: vars.$line-height-base; // 100%
    font-weight: 700;
    letter-spacing: 0;

    @include mixins.on-tablet {
      font-size: vars.$font-size-h1; // 48px
    }
  }

  &__bottom {
    padding-bottom: vars.$space-xl; // 40px

    @include mixins.on-tablet {
      padding-bottom: 65px;
    }
  }
}

/* #endregion header */
