@use '../utils/mixins' as mixins;

/* #region header */
.header {
  // display: none !important ;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0;

    @include mixins.on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include mixins.on-tablet {
      padding-bottom: 65px;
    }
  }
}

/* #endregion header */
