@use '../utils/mixins' as mixins;

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  /* for bottom elements */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0;

    @include mixins.on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include mixins.on-tablet {
      padding-bottom: 65px;
    }

    @include mixins.content-padding-inline;

  }
}

/* #endregion header */
