@use '../utils/mixins' as mixins;

.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-top: 64px;
    padding-bottom: 96px;

    &--bottom {
      padding-top: 48px;
    }

    @include mixins.on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
