@use '../utils/mixins' as mixins;

.section-title {
  margin: 0; /* it is not the way for real proj */
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0;

  @include mixins.on-tablet {
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 40px;
  }

  @include mixins.on-desktop {
    font-size: 48px;
    line-height: 48px;
  }
}
