@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

.recommended {
  &__products {
    @include mixins.page-grid;

    row-gap: vars.$space-xl; // 40px
  }

  &__product {
    grid-column: 1 / -1;

    @include mixins.on-desktop {
      grid-column: span 4;
    }
  }
}
