// BREAKPOINTS
$tablet-min-width: 576px;
$desktop-min-width: 1024px;

// EFFECTS
$effect-duration: 0.3s;

// COLORS
$color-dark: #111;
$main-text-color: #292929;
$color-bg-light: #f8f8fa;
$color-border-light: #f0f1f4;
$color-white: #fff;

// TYPOGRAPHY
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Space Mono', monospace;
$line-height-plus: 140%;
$line-height-base: 100%;
$font-size-base: 16px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-h1: 48px;

// SPACING & RADIUS
$radius-md: 8px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 40px;
$space-xxl: 56px;
